* {
    padding: 0px;
    margin: 0px;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;
}

.container--1200 {
    margin: 0 auto;
    max-width: 1200px;
}